/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
	--syntax-tab-size: 2;
}

/* Theme colors */
[data-theme="light"] {
	--bg-color-secondary: #f7f7f7; /* Slightly off-white background */
    --bg-color: #eee; /* Secondary background for elements */
    --text-color: #333; /* Dark gray text */
    --heading-color: #222; /* Slightly darker gray for headings */
    --link-color: #0381c7;
    --link-color-hover: #024e90;
    --accent-color: #0381c7;
    --border-color: #cccccc;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
	--bg-color: #111; /* Dark gray background */
    --bg-color-secondary: #222; /* Slightly lighter dark gray for elements */
    --text-color: #bbb; /* Light gray text */
    --heading-color: #ccc; /* White for headings */
    --link-color: #0381c7;
    --link-color-hover: #0498e8;
    --accent-color: #0381c7;
    --border-color: #333;
    --shadow-color: rgba(255, 255, 255, 0.1);
}
/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	margin: 0;
}
html {
	scroll-padding-top: 5rem;
}
body {
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--bg-color);
	line-height: 1.5;
	transition: background-color 0.3s, color 0.3s;
}

.flex {
	display: flex;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img {
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}

p:last-child {
	margin-bottom: 0;
}

a {
	color: var(--link-color);
	text-decoration: none;
}
a:hover,
a:active {
	color: var(--link-color-hover);
	text-decoration: underline;
	transition: color 0.3s;
}

a.ha {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--heading-color);
	transition: color 0.3s;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1rem;
}

blockquote {
	border-left: 4px solid var(--accent-color);
	padding-left: 1rem;
}

.content-wrapper {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto min-content;
	margin-left: auto;
	margin-right: auto;
	max-width: 70em;
}

main {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: var(--text-color);
	transition: background-color 0.3s, color 0.3s;
}

aside {
	width: 18em;
}

@media(max-width: 1024px) {
	aside {
		display: none;
	}
}

pre,
code {
	font-family: var(--font-family-monospace);
	white-space: break-spaces !important;
}

pre:not([class*="language-"]),
code:not([class*="language-"]) {
	margin: 0;
	padding: 0.1rem;
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
	background-color: var(--bg-color-secondary);
	border-radius: 4px;
	border: 1px solid var(--border-color);
	transition: background-color 0.3s;
}

table {
	border: 1px solid var(--border-color);
	transition: border-color 0.3s;
}

table td, table th {
	padding: 0.25rem;
}

table th {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background-color: var(--bg-color-secondary);
	transition: background-color 0.3s;
}

table tr:nth-child(even) {
	background-color: rgba(127, 127, 127, 0.1);
	transition: background-color 0.3s;
}