---js
// <script>
const pagination = {
	data: "collections.series",
	size: 1,
	alias: "serie",
	// addAllPagesToCollections: true,
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "Series '{{ serie }}'",
	permalink: function(data) {
		return `/series/${this.slugify(data.serie)}/`;
	}
};
// </script>
---
{% css %}
.posts {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
@media(max-width: 1024px) {
	.posts {
		grid-template-columns: 1fr 1fr;
	}
}
@media(max-width: 640px) {
	.posts {
		grid-template-columns: 100%;
	}
}
{% endcss %}

<h1>Series “{{ serie }}”</h1>

<div class="posts">
{% for post in collections.series[serie] | reverse %}
	{% include "partials/post-card.njk" %}
{% endfor %}
</div>

<p>See <a href="series.njk">all series</a>.</p>
