---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
	// addAllPagesToCollections: true,
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "Tagged '{{ tag }}'",
	permalink: function(data) {
		return `/tags/${this.slugify(data.tag)}/`;
	}
};
---
{% css %}
.posts {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
@media(max-width: 1024px) {
	.posts {
		grid-template-columns: 100%;
	}
}
{% endcss %}

<h1>Tagged “{{ tag }}”</h1>

<div class="posts">
{% for post in collections[tag] | reverse %}
	{% include "partials/post-card.njk" %}
{% endfor %}
</div>

<p>See <a href="tags.njk">all tags</a>.</p>
