---
eleventyNavigation:
  key: "Tags"
  order: 3
aside: true
---
<h1>Tags</h1>

<ul>
{% for tag, posts in collections.tags %}
  {% if posts.length > 0 %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a> ({{ posts.length }})</li>
  {% endif %}
{% endfor %}
</ul>
