---js
// <script>
const eleventyNavigation = {
  key: "Tags",
  order: 3,
};
const showAside = true;

function pageTags(collection){
  return Object.keys(collection)
    .map((name) => ({
      name: name,
      posts: collection[name],
    }))
    .sort((a, b) => b.posts.length - a.posts.length);
};

// </script>
---
<h1>Tags</h1>

{% include "partials/taglist.njk" %}