{% css "common" %}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
	padding: 0.5em;
    background-color: var(--bg-color-secondary);
    transition: background-color 0.3s;
    box-shadow: 0 -2px 4px var(--shadow-color);
    z-index: 1000;
}
@media(max-height: 480px) {
    footer {
        position: relative;
        margin-top: 3rem;
        margin-bottom: -5rem;
    }
}

.footer-container {
    display: flex;
	flex-wrap: wrap;
	align-items: center;
    gap: 0 1rem;
    
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
    
    font-weight: bold;
}

.footer-container a, .footer-container span {
    color: var(--text-color);
    font-size: 1.5rem;
    transition: color 0.3s;
    cursor: pointer;
}
{% endcss %}

<footer>
    <div class="footer-container">
        <div>ByteAether 2025</div>
        
        <a href="https://github.com/ByteAether" title="{{ metadata.title }}" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="/feed/feed.xml" title="Feed" target="_blank"><i class="fa-solid fa-square-rss"></i></a>
        <span onclick="themeManager.toggle()"><i class="fa-solid fa-sun"></i></span>
        
    </div>
</footer>