{% css "common" %}
footer {
    position: relative;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: -5rem;
	padding: 0.5em;
    background-color: var(--bg-color-secondary);
    transition: background-color 0.3s;
    box-shadow: 0 -2px 4px var(--shadow-color);
    z-index: 1000;
}

.footer-container {
    display: flex;
	flex-wrap: wrap;
	align-items: center;
    gap: 0 1rem;
    
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
    
    font-weight: bold;
}

footer .icon {
    color: var(--text-color);
    transition: color 0.3s;
    cursor: pointer;
}
footer .icon:hover {
    color: var(--link-color-hover);
    transition: color 0.3s;
}
{% endcss %}

<footer>
    <div class="footer-container">
        <div>ByteAether 2025</div>
        
        <a href="https://github.com/ByteAether" title="{{ metadata.title }}" target="_blank"><i class="fa-brands fa-github icon"></i></a>
        <a href="/feed/feed.xml" title="Feed" target="_blank"><i class="fa-solid fa-square-rss icon"></i></a>
        <span onclick="themeManager.toggle()"><i class="fa-solid fa-sun icon"></i></span>
        
    </div>
</footer>