{% css %}
.post-card
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 8px;
    margin-bottom: 1rem;
    background-color: var(--bg-color-secondary);
    box-shadow: 2px 2px 4px var(--shadow-color);
}

.post-card h2 {
    margin-top: 0;
    margin-bottom: 0;
}
{% endcss %}

<div class="post-card">
    
    <h2><a href="{{ post.url }}">
        {%- if post.data.imagePath %}
            <img src="{{ post.data.imagePath | pathRelative | safe }}" alt="{{ post.data.title }}" class="post-card-image" />
        {% endif %}

        {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
    </a></h2>
    
    <div class="excerpt"><em>{{ post | excerpt | truncate(500) }}</em></div>

    {% include "./post-meta.njk" %}

</div>