<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		{% include "partials/head.njk" %}
		
		{% js %}{% include "node_modules/@fortawesome/fontawesome-free/js/all.min.js" %}{% endjs %}
		{% js %}{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}{% endjs %}

		<link rel="stylesheet" href="/css/index.css" />
		<style>{% getBundle "css" %}</style>
		<script src="/js/main.js"></script>
		{% block head %}{% endblock %}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		{% include "partials/header.njk" %}

		<div class="content-wrapper">

			<main id="skip">
				<heading-anchors>
					{{ content | safe }}
				</heading-anchors>
			</main>

			{% if aside %}
				<aside>
					{% include "partials/aside.njk" %}
				</aside>
			{% endif %}

		</div>

		{% include "partials/footer.njk" %}

		<!-- This page `{{ page.url | absoluteUrl(metadata.url) }}` was built on {{ renderDate | isoDateTime }} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
