<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		{% include "partials/head.njk" %}

		{% css "common" %}{% include "public/css/index.css" %}{% endcss %}

		<link rel="stylesheet" href="{% getBundleFileUrl "css", "common" %}">
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
		{% RenderContentBlock "head" %}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		{% include "partials/header.njk" %}

		<div class="content-wrapper">

			<main id="skip">
				<heading-anchors>
					{{ content | safe }}
				</heading-anchors>
			</main>

			{% if showAside %}
				<aside>
					{% include "partials/aside.njk" %}
				</aside>
			{% endif %}

		</div>
		
		<div class="bottom-content">
			{% RenderContentBlock "bottom-content" %}
		</div>

		{% include "partials/footer.njk" %}

		{% getBundle "fontawesome" %}

		{% js "common" %}{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}{% endjs %}
		{% js "common" %}{% include "public/js/main.js" %}{% endjs %}
		
		<script type="text/javascript">{% include "public/js/theme.js" %}</script>
		<script type="module" src="{% getBundleFileUrl "jsraw", "common" %}"></script>
		<script type="module" src="{% getBundleFileUrl "js", "common" %}"></script>
		<script type="module" src="{% getBundleFileUrl "jsraw" %}"></script>
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>

		<!-- This page `{{ page.url | absoluteUrl(metadata.url) }}` was built on {{ renderDate | isoDateTime }} -->
	</body>
</html>
