---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
{% css %}{% include "node_modules/prismjs/themes/prism-okaidia.min.css" %}{% endcss %}
{% css %}{% include "public/css/prism-diff.css" %}{% endcss %}
{% css %}
article {
	padding-top: 2rem;
}

.links-nextprev {
	display: flex;
	gap: 1rem;
	padding: 0;
	margin: 0;
	list-style: none;
}
.links-nextprev li {
	width: 50%;
	padding: 0.5rem;
}
.links-nextprev li.links-nextprev-prev,
.links-nextprev li.links-nextprev-next {
	background-color: var(--bg-color-secondary);
	box-shadow: 2px 2px 4px var(--shadow-color);
	transition: background-color 0.3s;
}
.links-nextprev-next {
	text-align: right;
}

h1.post-title {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#giscus-comments {
	margin-top: 1rem;
}

{% endcss %}

<article>
	{% if imageUrl %}
		<img eleventy:ignore src="{{ imageUrl }}" alt="" class="post-header" />
	{% endif %}

	<h1 class="post-title">{{ title }}</h1>

	<div class="post-meta">
		{% include "./../partials/post-meta.njk" %}
	</div>

	{{ content | safe }}
</article>

{% include "partials/socials.njk" %}

{% if collections.posts %}
	{% set previousPost = collections.posts | getPreviousCollectionItem %}
	{% set nextPost = collections.posts | getNextCollectionItem %}
	{% if nextPost or previousPost %}
		<ul class="links-nextprev">
			{% if previousPost %}
				<li class="links-nextprev-prev">
					<a href="{{ previousPost.url }}">
						<img eleventy:ignore src="{{ previousPost.data.imageUrl }}" alt="" /><br>
						{{ previousPost.data.title }}
					</a>
					<br>← Previous
			{% else %}
				<li>
			{% endif %}
			</li>
			{% if nextPost %}
				<li class="links-nextprev-next">
					<a href="{{ nextPost.url }}">
						<img eleventy:ignore src="{{ nextPost.data.imageUrl }}" alt="" /><br>
						{{ nextPost.data.title }}
					</a>
					<br>Next →
			{% else %}
				<li>
			{% endif %}
			</li>
		</ul>
	{% endif %}
{% endif %}

{% include "./../partials/series.njk" %}

{% if metadata.githubComments.repo %}
	<div id="giscus-comments"></div>
	<script>
		// Wait for the DOM to load or ensure themeManager is available
		document.addEventListener("DOMContentLoaded", () => {
			const giscusContainer = document.getElementById("giscus-comments");

			const script = document.createElement("script");
			script.src = "https://giscus.app/client.js";
			script.setAttribute("data-repo", "{{ metadata.githubComments.repo }}");
			script.setAttribute("data-repo-id", "{{ metadata.githubComments.repoId }}");
			script.setAttribute("data-category", "{{ metadata.githubComments.category }}");
			script.setAttribute("data-category-id", "{{ metadata.githubComments.categoryId }}");
			script.setAttribute("data-mapping", "pathname");
			script.setAttribute("data-strict", "0");
			script.setAttribute("data-reactions-enabled", "1");
			script.setAttribute("data-emit-metadata", "0");
			script.setAttribute("data-input-position", "top");
			script.setAttribute("data-theme", themeManager.get());
			script.setAttribute("data-lang", "en");
			script.setAttribute("data-loading", "lazy");
			script.setAttribute("crossorigin", "anonymous");
			script.async = true;

			giscusContainer.appendChild(script);
		});
	</script>
{% endif %}